.Button {
    margin-top: 10px;
    width: max-content;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #29292e;
    color: #d1d1d1;
    transition: all 0.3s;
    border: 1px solid #ffffff0d;
    border-radius: 2px;
    font-size: 15px;

    &:hover {
        opacity: 0.7;
    }

    &.Create {
        background-color: #35b85c;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}