.Invites {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;;
    
    &--New {
        padding: 20px;
        border: 1px dashed #ffffff0d;
        border-radius: 8px;
        background-color: #15151873;

        &--Form {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 5px;

            & label {
                font-size: 16px;
            }

            & input {
                display: block;
                width: 200px;
                padding: 5px;
                background: none;
                outline: none;
                color: #fff;
                border: 1px solid #ffffff0d;
            }
        }
    }

    .InviteTable {
        border-spacing: 0px;;
        border-collapse: seperate;
        width: 100%;
        border: 1px dashed #ffffff0d;
        border-radius: 8px;
        padding: 10px;
    
        thead  {
            tr {
                th {
                    text-align: left;
                    padding: 10px;
                    background-color: #15151873;
                    border-bottom: 1px dashed #ffffff0d;
    
                    // &.Creator {
                    //     width: 200px;
                    //     // background-color:  red;
                    // }
                    // &.Code {
                    //     width: 100px;
                    //     // background-color: green;
                    // }
                    // &.Valid {
                    //     width: 80px;
                    //     // background-color: blue;
                    // }
                }
            }
        }
    
        tbody {
            tr {
                background-color: #17161a;
                
                td {
                    padding: 10px;
    
                    &.Creator {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        padding-left: 10px;
    
                        img {
                            width: 30px;
                            border-radius: 50%;
                        }
                    }
    
                    & .Code {
                        width: min-content;
                        padding: 2px 5px;
                        border: 1px solid #ffffff0d;
                        cursor: pointer;
                    }

                    & .Delete {
                        background: none;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        color: #af4747;
                        display: flex;
                        font-size: 20px;
                    }
                }
    
                &:hover  {
                    filter: brightness(0.93);
                }
            }
        }
    }
}