.Members {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;

    &--Child {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #fff;
        user-select: none;
        padding: 5px 10px;
        cursor: pointer;


        & img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }

        & svg {
            color: goldenrod;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.053);
        }

        &--Text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--Name {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        & span  {
            color:gray;
            font-size: 12px;
        }
    }
}

.SidebarOverlay {
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}