.Members {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;

    &--Child {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #fff;
        user-select: none;
        padding: 5px 10px;
        cursor: pointer;

        &--Avatar  {
            position: relative;

            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }

            &--Presence {
                position: absolute;
                background-color: rgb(64, 145, 75);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                right: 0;
                bottom: 0;
                border: 4px solid #1a191b;
            }
        }

        & svg {
            color: goldenrod;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.053);
        }

        &--Text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--Name {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        & span  {
            color:gray;
            font-size: 12px;
        }
    }
}

.SidebarOverlay {
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1130px) {
    .SidebarOverlay {
        background-color: #00000050;
        backdrop-filter: blur(4px);
    }
}