.ChatSettingsGeneral {
    display: flex;
    flex-direction: column;
    border: 1px dashed #ffffff0d;
    padding: 20px;
    border-radius: 8px;

    h4 {
        margin-bottom: 10px;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            display: block;
            max-width: 400px;
            padding: 10px 15px;
            background: none;
            outline: none;
            color: #fff;
            border: 1px solid #ffffff0d;
            margin-bottom: 5px;
        }
    }

    button {
        margin-top: 15px;;
    }
}