@import "/src/scss/index.scss";

.GroupChats {
    margin-top: 5px;
    position: relative;



    &--Parent {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
    }

    &--Child {
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: relative;
        border-left: 2px solid transparent;
        
        &.active {
            border-left: 2px solid #636363;
            background-color: #171518;
            transition: all 0.3s;
        }

        &--Avatar {
            min-width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 26px;
            text-transform: capitalize;
            background-color: rgb(27, 26, 29);
            color: #bebebe;
        }

        &--Content {
            color: #fff;
            overflow: hidden;
            text-wrap: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .Latest {
                color: #949494;
                font-size: 14px;

                &.Unread {
                    font-weight: bold;
                    color: #fff;
                }
            }
        }

        &--Unread {
            background-color: #3684c471;
            border-radius: 50%;
            min-height: 30px;
            min-width: 30px;
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
            margin-left: auto;

            & p {
                color: #dadada;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}