@import "/src/scss/index.scss";

.GroupChats {
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0509803922);
    position: relative;



    &--Header {
        position: relative;
        // background-color: blue;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            text-align: center;
            color: #dddddd;
        }

        &--Link {
            position: absolute;
            right: 15px;
            cursor: pointer;
            background: none;
            outline: none;
            border: none;

            & svg {
                font-size: 20px;
                color: #fff;
                transition: all 0.3s;

                &:hover {
                    color: #c5c5c5;
                }
            }
        }
    }

    &--Parent {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 10px;

        // background-color: red;
    }

    &--Child {
        background-color: $main;
        padding: 10px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 10px;

        &--Avatar {
            background-color: rgb(26, 26, 26);
            border: 1px solid #ffffff09;
            color: $light;
            min-width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 26px;
            text-transform: capitalize;
        }

        &--Content {
            color: #fff;
            overflow: hidden;
            text-wrap: nowrap;

            & .Latest {
                color: #949494;
            }
        }
    }
}