@import "/src/scss/index.scss";

.Sidebar {
    > a {
      text-decoration: none;
      text-align: center;
      
      h1 {
            margin: 15px 0 10px 0;
            color: $light;
        }
    }

    &--User {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px 20px;
        // border-top: 1px solid #ffffff0d;
        // border-bottom: 1px solid #ffffff0d;
        user-select: none;
        transition: all 0.3s;
        
        &--Avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 0 0 6px $light;
            object-fit: cover;
        }

        &--Text {
            overflow: hidden;
            word-wrap: break-word;
            
            h3 {
                color: #dddddd;

            }

            h4 {
                color: #9b9b9b;
            }
        }


        &--Edit {
            background-color: #2020208e;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            margin-left: auto;

            &.active {
                background-color: #4b4b4ba6;
            }

            &.Logout {
                margin-right: auto;
                border: none;
                outline: none;
                cursor: pointer;
            }

            
            svg {
                font-size: 22px;
                color: #fff;
            }

            &:hover:not(.active) {
                background-color: #4b4b4ba6;
            }
        }
    }
}