.MemberModal {
    z-index: 1200;
    position: absolute;
    top: 0;
    right: 270px !important;
    background-color: #2e2e31;
    box-shadow: -2px 2px 10px 1px #0000006c;
    border-radius: 8px;
    width: 300px;
    color: #fff;
    border: 1px solid #ffffff0d;
    animation: SlideIn 0.2s;

    &--Overlay {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    & .ModalHeader {
        background-color: rgb(70, 109, 226);
        position: relative;
        height: 100px;
        margin-bottom: 60px;
        border-radius: 8px 8px 0 0;

        &--Avatar {
            background-color: #2e2e31;
            padding: 7px;
            position: absolute;
            top: 50%;
            left: 10px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            
            & img {
                user-select: none;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }

    & .ModalContent {
        padding: 7px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;

        &--Roles {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            
            &--Child {
                background-color: #ffffff11;
                padding: 5px 10px;
                box-sizing: border-box;
                user-select: none;
                border-radius: 50px;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                & div {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #a5a5a5;
                }

                & p {
                    font-size: 12px;
                }

                &.Add {
                    opacity: 0.6;
                    color: inherit;
                    border: inherit;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
        }

        &--UpdateRoles {
            position: absolute;
            width: 100%;
            bottom: -1px;
            left: 0;
            transform: translateY(100%);
            background-color: #2e2e31;
            border-radius: 8px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 206px;
            overflow-y: auto;

            & .Role {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap:  6px;
                padding: 10px 15px;
                user-select: none;

                &--Dot {
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                }

                & p {
                    font-size: 13px;
                }

                &--CheckBox {
                    margin-left: auto;
                    background-color: #24242470;
                    width: 22px;
                    height: 22px;
                    border-radius: 4px;
                    border: 1px solid #94949427;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    color: #ffffff;

                    &.Checked {
                        background-color: #466de2;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgba(90, 90, 90, 0.158);
                }

                &.Empty {
                    cursor: default;
                    font-size: 14px;

                    &:hover {
                        background-color: unset;
                    } 
                }
            }
        }
    }
}

@keyframes SlideIn {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(0px);
    }
}

@media (max-width: 1130px) {
    .MemberModal {
        width: 90%;
        right: 50% !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
        animation: none;
    }
}