@import "/src/scss/index.scss";

.Chat {
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;

    &--Top {
        background-color: #17171a;
        border-bottom: 1px solid #ffffff0d;
        height: 40px;
        display: flex;
        align-content: center;
        justify-content: center;
        position: relative;

        & h1 {
            color: $light;
            font-size: 20px;
            line-height: 2;
        }

        &--Btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            outline: none;
            border: none;
            padding-top: 3px;
            
            & svg {
                font-size: 22px;
                color: $light;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    filter: brightness(70%);
                }
            }

            &.Sidebar {
                display: none;
                right: 15px;
            }

            &.Settings {
                left: 15px;

                & svg:hover {
                    transform: rotate(23deg);
                    transition: all 0.1s;
                }
            }
        }
    }

    &--Content {
        display: flex;
        flex-direction: row;
        flex: 1;

        &--Main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            & .Chat--Messages {
                overflow: auto;
                display: flex;
                flex-direction: column-reverse;
                // height: calc(100vh - 137px);
                height: calc(var(--vh, 1vh) * 100 - 120px);
                position: relative;

                .Load-More {
                    background-color: transparent;
                    border: 1px dashed #64646479;
                    padding: 10px 0;
                    color: #e4e4e4;
                    cursor: pointer;
                    width: 100%;

                    &:hover {
                        filter: opacity(70%)
                    }
                }

                & .Message {
                    display: flex;
                    gap: 10px;
                    padding: 10px 20px 0 20px;
                    align-items: center;

                    &.Self {
                        flex-direction: row-reverse;

                        & .Message--Content--Top {
                            flex-direction: row-reverse;
                        }

                        & .Message--Content--Text {
                            margin-left: auto;
                        }

                        &.Same {
                            padding-right: 75px;
                            padding: 0 75px 0 0;
                        }
                    }

                    &.Same {
                        padding: 0 0 0 75px;

                        & .Message--Content--Top--Date {
                            display: none;
                        }
                    }

                    &--Avatar {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }

                    &--Content {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        &--Top {
                            display: flex;
                            flex-direction: row;
                            gap: 13px;
                            align-items: center;

                            &--Name {
                                color: #e5e5e5;
                                font-weight: bold;
                            }

                            &--Date {
                                color: gray;
                                font-size: 11px;
                            }
                        }

                        &--Text {
                            background-color: $main;
                            width: max-content;
                            max-width: 300px;
                            word-wrap: break-word;
                            padding: 10px;
                            border-radius: 7px;
                            color: #e5e5e5;
                            border: 1px solid #ffffff0d;
                        }
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.022);
                    }
                }

                .Messages--Not-Found {
                    width: max-content;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #afafaf;

                    & svg {
                        font-size: 46px;
                    }
                }
            }
            & .Chat--Send {
                background-color: #121214;
                border-top: 1px solid #ffffff0d;
                height: 75px;
                display: flex;
                align-content: center;
                justify-content: center;                    

                & .Send {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 80%;

                    & input {
                        width: 100%;
                        background-color: #17171a;
                        border: none;
                        outline: none;
                        height: 40px;
                        border-radius: 50px;
                        padding: 0 15px;
                        color: #e5e5e5;
                        font-size: 16px;
                    }

                    & button {
                        height: 40px;
                        padding: 0 20px;
                        background-color: #ffffff0b;

                        border: none;
                        outline: none;
                        color: #a1a1a1;
                        border-radius: 20px;

                        &:hover {
                            filter: opacity(0.7);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    
        &--Sidebar {
            background-color: #17171a;
            width: 250px;
            border-left: 1px solid #ffffff0d;
            transition: all 0.3s;
        }
    }
}

@media (max-width: 460px) {
    .Chat--Send .Send {
        width: 100%;

        & input {
            width: 80% !important;
        }
    }

    .Chat--Content--Main .Chat--Messages .Message--Content--Text {
        max-width: 200px;
    }
}

@media (max-width: 780px) {
  .Chat {
    height: calc(var(--vh, 1vh) * 100 - 57px);

    & .Chat--Messages {
      height: calc(var(--vh, 1vh) * 100 - 176px) !important;
    }

    &--Content--Sidebar {
      height: calc(100% - 176px) !important;
    }
  }
}

@media (max-width: 1130px) {
    .Chat--Content--Sidebar  {
        position: fixed;
        background-color: #1a191b !important;
        height: calc(100% - 120px);
        right: 0;
        transform: translateX(100%);

        &.Open {
            transform: translateX(0);
        }
    }

    .Chat--Top--Btn.Sidebar {
        display: block;
    }
}