.Form-Wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7e7;
    flex-direction: column;
    gap: 25px;

    & .Header {
        text-align: center;

        & .Name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;

            & .Icon {
                background-color: rgb(61, 97, 175);
                border-radius: 50%;
                padding: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                & svg {
                    font-size: 22px;
                }
            }
        }
    }

    .Form {
        width: 500px;
        height: max-content;
        position: relative;
        background-color: #1e1e22;
        padding: 30px;
        border-radius: 7px;
        border: 1px dashed #ffffff21;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        label {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
        
        & .Title {
            text-align: center;

            & h1 {
                font-size: 21px;
            }

            & p {
                font-size: 14px;
            }
        }

        & form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;

            & .Child {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }
            
            input {
                background-color: rgba(255,255,255,0.05);
                padding: 10px;
                outline: none;
                border: none;
                color: #d4d4d4;
                font-size: 14px;
                border-radius: 5px;
            }

            button {
                display: block;
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                outline: none;
                margin-top: 15px;
                color: #fff;
                font-weight: bold;
                background: linear-gradient(270deg,#0f3061 0%, #061a3f 100%);
                border: 1px solid #0f3061;
                transition: all 0.3s;

                &:hover {
                    filter: opacity(0.8);
                    cursor: pointer;
                }
            }
        }

        a {
            color: #cccccc;
            display: block;
            width: max-content;
            font-size: 14px;
        }
    }
}

@media (max-width: 870px) {
    .Form {
        width: 80% !important;
    }
}