@import "/src/scss/index.scss";

.Main {
    display: flex;
    height: 100vh;
    height: 100dvh;

    .Sidebar-Wrapper {
        background-color: #121214;
        min-width: 350px;
        max-width: 350px;
        transition: all 0.3s;
        border-right: 1px solid #ffffff0d;
        z-index: 100;
        overflow-y: auto;
    }

    .Content {
        flex-grow: 1;
        background: #1A1A1E;
    }

    .Mobile-Top {
        display: none;
        background-color: #121214;
        border-bottom: 1px solid #ffffff0d;
        padding: 15px 0 10px 20px;

        .Sidebar-toggle {
            width: max-content;
            border: none;
            outline: none;
            font-size: 26px;
            background: none;
            color: #fff;
            line-height: 0;
        }
    }

}

input:-webkit-autofill {
  background-color: #26262c !important; 
  transition: background-color 0.3s ease;
}

input:-moz-autofill {
  background-color: #26262c !important;
  transition: background-color 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #26262c inset !important;
  box-shadow: 0 0 0px 1000px #26262c inset !important;
}

@media (max-width: 780px) {
    .Main {
        flex-direction: column;

        .Sidebar-Wrapper {
            position: fixed;
            height: 100%;
            width: 100%;
            padding-top: 50px;
            transform: translateX(-100%);
            max-width: unset;

            &.open {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .Mobile-Top {
            display: block;
            z-index: 1000;
        }
    }
}